.admin-navbar{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: 1px solid #e6e6e6;
  background-color: white;
}
.admin-navbar h2{
  color: tomato;
}
.admin-navbar button{
  border: 1px solid tomato;
  color: tomato;
  background: transparent;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
}
@media(max-width:500px){
  .admin-navbar{
    padding: 0 16px;
  }
  .admin-navbar h2{
    font-size: 20px;
  }
}
