.header {
  height: clamp(220px, 34vw, 420px);
  margin: 30px auto;
  background: url("/header_img.png") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 12px;
}
.header-content {
  position: absolute;
  /* display: flex; */
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  bottom: 10%;
  position: absolute;
  left: 6vw;
  animation: fadeIn 3s;
}
.header-content h2 {
  font-weight: 500;
  color: white;
  font-size: clamp(24px, 4.5vw, 56px);
}

.header-content p {
  color: white;
  font-size: clamp(13px, 1vw, 16px);
}
.header-content button {
  border: none;
  color: #747474;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1vw, 13px);
  border-radius: 50px;
}
@media (max-width: 1050px) {
  .header-content {
    max-width: 45%;
  }
}
@media (max-width: 750px) {
  .header-content {
    max-width: 65%;
  }
  .header-content p {
    display: none;
  }
  .header-content button {
    padding: 2vw 4vw;
    
  }
}
.header-content button {
  cursor: pointer;
}
